:host {
  display: flex;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
  /* align-items: center; */
}

.conteudo {
  flex: 1 1 100%;
}

.acoes {
  flex: 1 1 auto;
  justify-content: space-between;
}

.acoes button {
  width: 40px;
  height: 40px;
}

.campo {
  width: 50%;
  flex: 1 0 45%;
}

* {
  position: relative;
}



