:host {
  flex: 1;
  flex-direction: column;
  display: flex;
  position: relative;
  /* height: calc(100% - 32px); */
}

.conteudo {
  /* overflow: hidden; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 410px 400px;
  grid-gap: 16px;
  flex: 1;
}


app-dashboard-card-tops {
  grid-row: 1 ;
  grid-column: 1 / 3;
}

app-dashboard-card-quantidade-conversoes {
  grid-row: 1 ;
  grid-column: 1 / 3;
}
