<!-- <p>{{ produtoService.getAll() | async | json }}</p> -->

<!-- <p>{{ todosProdutos | json }}</p> -->

<!-- <p *ngFor="let produto of todosProdutos" > {{ produto.nome }}</p> -->

<!-- <button (click)="produtoService.reset()">RESET</button> -->

<div class="conteudo">
  <app-dashboard-card-quantidade-conversoes ></app-dashboard-card-quantidade-conversoes>
  <!-- <app-dashboard-card-tops></app-dashboard-card-tops>
  <app-dashboard-card-produtos-promocao></app-dashboard-card-produtos-promocao>
  <app-dashboard-card-ultimos-cadastrados></app-dashboard-card-ultimos-cadastrados> -->
</div>
