:host {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.topo {
  display: flex;
  align-items: center;
}

.botoes mat-icon {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


.cdk-drag {
  /* transition: all 1s; */
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
  /* box-shadow: 0 0 transparent; */
}

.cdk-drop-list-dragging app-imagem-case:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
