.ma4 {margin: 4px; }
.ma8 {margin: 8px; }
.ma16 {margin: 16px; }
.ma32 {margin: 32px; }
.ma48 {margin: 48px; }
.ma64 {margin: 64px; }

.mb4 {margin-bottom: 4px;}
.mb8 {margin-bottom: 8px;}
.mb16 {margin-bottom: 16px;}
.mb32 {margin-bottom: 32px;}
.mb48 {margin-bottom: 48px;}
.mb64 {margin-bottom: 64px;}

.ml4 {margin-left: 4px;}
.ml8 {margin-left: 8px;}
.ml16 {margin-left: 16px;}
.ml32 {margin-left: 32px;}
.ml48 {margin-left: 48px;}
.ml64 {margin-left: 64px;}

.mr4 {margin-right: 4px;}
.mr8 {margin-right: 8px;}
.mr16 {margin-right: 16px;}
.mr32 {margin-right: 32px;}
.mr48 {margin-right: 48px;}
.mr64 {margin-right: 64px;}

.mt4 {margin-top: 4px;}
.mt8 {margin-top: 8px;}
.mt16 {margin-top: 16px;}
.mt32 {margin-top: 32px;}
.mt48 {margin-top: 48px;}
.mt64 {margin-top: 64px;}

.pa4 {padding: 4px; }
.pa8 {padding: 8px; }
.pa16 {padding: 16px; }
.pa32 {padding: 32px; }
.pa48 {padding: 48px; }
.pa64 {padding: 64px; }

.pb4 {padding-bottom: 4px;}
.pb8 {padding-bottom: 8px;}
.pb16 {padding-bottom: 16px;}
.pb32 {padding-bottom: 32px;}
.pb48 {padding-bottom: 48px;}
.pb64 {padding-bottom: 64px;}

.pl4 {padding-left: 4px;}
.pl8 {padding-left: 8px;}
.pl16 {padding-left: 16px;}
.pl32 {padding-left: 32px;}
.pl48 {padding-left: 48px;}
.pl64 {padding-left: 64px;}

.pr4 {padding-right: 4px;}
.pr8 {padding-right: 8px;}
.pr16 {padding-right: 16px;}
.pr32 {padding-right: 32px;}
.pr48 {padding-right: 48px;}
.pr64 {padding-right: 64px;}

.pt4 {padding-top: 4px;}
.pt8 {padding-top: 8px;}
.pt16 {padding-top: 16px;}
.pt32 {padding-top: 32px;}
.pt48 {padding-top: 48px;}
.pt64 {padding-top: 64px;}

.mr-full { margin-right: auto; }
.ml-full { margin-left: auto; }
.mt-full { margin-top: auto; }
.mb-full { margin-bottom: auto; }

.rt45 { transform: rotate(45deg);}
.rt90 { transform: rotate(90deg);}
.rt180 { transform: rotate(180deg);}
.rt270 { transform: rotate(270deg);}

.br2 {border-radius: 2px;}
.br5 {border-radius: 5px;}
.brt {border-radius: 99999px}
