<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <security>
            <ipSecurity allowUnlisted="false">
                <!-- IPS DA TRISUL -->
                <add ipAddress="189.112.124.0" subnetMask="255.255.255.224" allowed="true" />
                <add ipAddress="187.115.29.44" allowed="true" />
                <add ipAddress="177.25.38.160" subnetMask="255.255.255.248" allowed="true" />
                <add ipAddress="179.209.142.0" subnetMask="255.255.255.0" allowed="true" />
                <add ipAddress="189.100.69.50" subnetMask="255.255.255.0" allowed="true" />
                <add ipAddress="187.119.225.154" subnetMask="255.255.255.0" allowed="true" />

                <add ipAddress="177.92.66.40" subnetMask="255.255.255.0" allowed="true" />
                <add ipAddress="189.44.46.8" subnetMask="255.255.255.0" allowed="true" />
                <add ipAddress="200.49.48.96" subnetMask="255.255.255.0" allowed="true" />


                <!-- #################################################################### -->
            
                <!-- Rodrigo -->
                <add ipAddress="189.18.98.32" subnetMask="255.255.255.0" allowed="true" />
               
            </ipSecurity>
        </security>
        <rewrite>
            <rules>
                <rule name="Redirect to https" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
                </rule>
                <rule name="Angular Routes" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/index.html" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
