<form (submit)="salvar()" class="quadro">
  <div class="topo">
    <span class="s5 fw600">Dados do empreendimento para o Corretor</span>

    <div class="botoes grid-infos ml-full">
      <button color="primary" type="submit" mat-button>Salvar</button>
    </div>
  </div>

  <div class="conteudo">

    <div class="grid-infos">

    <!--   <mat-form-field class="campo ma8" appearance="outline">
        <mat-label>Area Privativa:</mat-label>
        <input matInput required type="text" [(ngModel)]="corretor.areaPrivativa" name="areaPrivativa" placeholder="">
      </mat-form-field>

      <mat-form-field class="campo ma8" appearance="outline">
        <mat-label>QuantidadeDeSuites:</mat-label>
        <input matInput type="text" [(ngModel)]="corretor.quantidadeDeSuites" name="quantidadeDeSuites" placeholder="">
      </mat-form-field>

      <mat-form-field class="campo ma8" appearance="outline">
        <mat-label>QuantidadeDeDormitorio:</mat-label>
        <input matInput type="text" [(ngModel)]="corretor.quantidadeDeDormitorio" name="quantidadeDeDormitorio" placeholder="">
      </mat-form-field>


      <mat-form-field class="campo ma8" appearance="outline">
        <mat-label>QuantidadeDeBanheiros:</mat-label>
        <input matInput type="text" [(ngModel)]="corretor.quantidadeDeBanheiros" name="quantidadeDeBanheiros" placeholder="">
      </mat-form-field>

      <mat-form-field class="campo ma8" appearance="outline">
        <mat-label>QuantidadeDeVaga:</mat-label>
        <input matInput type="text" [(ngModel)]="corretor.quantidadeDeVaga" name="quantidadeDeVaga" placeholder="">
      </mat-form-field>

      <mat-form-field class="campo ma8" appearance="outline">
        <mat-label>QuantidadeDeApPorAndar:</mat-label>
        <input matInput type="text" [(ngModel)]="corretor.quantidadeDeApPorAndar" name="quantidadeDeApPorAndar" placeholder="">
      </mat-form-field> -->

      <!-- <mat-form-field class="campo ma8" appearance="outline">
        <mat-label>Tamanho do Terreno:</mat-label>
        <input matInput type="text" [(ngModel)]="corretor.tamanhoTerreno" name="tamanhoTerreno" placeholder="">
      </mat-form-field> -->


      <mat-form-field class="campo ma8" appearance="outline">
        <mat-label>Número do Deposito:</mat-label>
        <input matInput type="text" [(ngModel)]="corretor.numeroDeposito" name="numeroDeposito" placeholder="">
      </mat-form-field>


      <mat-form-field class="campo ma8" appearance="outline">
        <mat-label>Número de Torres:</mat-label>
        <input matInput type="text" [(ngModel)]="corretor.numeroDeTorres" name="numeroDeTorres" placeholder="">
      </mat-form-field>


      <mat-form-field class="campo ma8" appearance="outline">
        <mat-label>Número Total de Unidades:</mat-label>
        <input matInput type="text" [(ngModel)]="corretor.numeroTotalDeUnidades" name="numeroTotalDeUnidades" placeholder="">
      </mat-form-field>

      <!-- <mat-form-field class="campo ma6" appearance="outline">
        <mat-label>BanheirosMin:</mat-label>
        <input matInput type="text" [(ngModel)]="corretor.banheirosMin" name="banheirosMin" placeholder="">
      </mat-form-field>


      <mat-form-field class="campo ma6" appearance="outline">
        <mat-label>BanheirosMax:</mat-label>
        <input matInput type="text" [(ngModel)]="corretor.banheirosMax" name="banheirosMax" placeholder="">
      </mat-form-field>


      <mat-form-field class="campo ma6" appearance="outline">
        <mat-label>VagasMin:</mat-label>
        <input matInput type="text" [(ngModel)]="corretor.vagasMin" name="vagasMin" placeholder="">
      </mat-form-field>


      <mat-form-field class="campo ma6" appearance="outline">
        <mat-label>VagasMax:</mat-label>
        <input matInput type="text" [(ngModel)]="corretor.vagasMax" name="vagasMax" placeholder="">
      </mat-form-field>


      <mat-form-field class="campo ma6" appearance="outline">
        <mat-label>SuitesMin:</mat-label>
        <input matInput type="text" [(ngModel)]="corretor.suitesMin" name="suitesMin" placeholder="">
      </mat-form-field>


      <mat-form-field class="campo ma6" appearance="outline">
        <mat-label>SuitesMax:</mat-label>
        <input matInput type="text" [(ngModel)]="corretor.suitesMax" name="suitesMax" placeholder="">
      </mat-form-field>

      <mat-form-field class="campo ma6" appearance="outline">
        <mat-label>DormitoriosMax:</mat-label>
        <input matInput type="text" [(ngModel)]="corretor.dormitoriosMax" name="dormitoriosMax" placeholder="">
      </mat-form-field>


      <mat-form-field class="campo ma6" appearance="outline">
        <mat-label>DormitoriosMin:</mat-label>
        <input matInput type="text" [(ngModel)]="corretor.dormitoriosMin" name="dormitoriosMin" placeholder="">
      </mat-form-field>

      <mat-form-field class="campo ma6" appearance="outline">
        <mat-label>AreaMin:</mat-label>
        <input matInput type="int" [(ngModel)]="corretor.areaMin" name="areaMin" placeholder="">
      </mat-form-field>


      <mat-form-field class="campo ma6" appearance="outline">
        <mat-label>AreaMax:</mat-label>
        <input matInput type="int" [(ngModel)]="corretor.areaMax" name="areaMax" placeholder="">
      </mat-form-field> -->


      <div class="conteudo ma8">
      
          <mat-checkbox  [(ngModel)]="corretor.depositoPrivativo" name="depositoPrivativo" class="ml8 mr8">Deposito Privativo</mat-checkbox>
      </div>


    </div>


  </div>
</form>
