:host{
  /* width: 100%; */
  /* height: 50px; */
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
  padding: 16px;
  z-index: 2;
}

.botao-perfil,
.botao-perfil span {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.perfil {
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 50%;
}

.perfil img {
  width: 100%;
  display: block;
  object-fit: contain;
}
